<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.SongName }} {{.Type}} by {{.ArtistName}}</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.14.3/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <style>.gtab { margin-top: 4px; display:block; }</style>
</head>
<body data-theme="dark">
  <div class="container">
    <div class="card w-96 bg-base-200 shadow-xl w-fit">
      <div class="card-body">
        <div class="tab-title">
          <h1 class="text-xl font-bold">"{{.SongName }}"" {{.Type}} by <span class="font-bold">{{.ArtistName}}</span></h1>
        </div>
        <div class="chords-used mt-4">
          {{range $ch := .Applicature}}
          <div class="badge badge-lg badge-warning mr-2 mt-2">
            <strong class="mr-4">{{.Chord}}</strong> {{$firstChord := index .Variations 0}} {{$firstChord.ID}}
          </div>
          {{end}}
        </div>
        <div class="tab-content mt-4">
          <pre>{{.Content}}</pre>
        </div>
        <div class="mt-4">Sourced from: <pre>{{.URLWeb}}</pre></div>
      </div>
    </div>
  </div>
</body>
</html>